@import url('https://fonts.cdnfonts.com/css/metropolis-2');
$gray:#ededed;
$brown:#656565;
$red:#ff5634;
$black:#121212;
body{
    font-family: Metropolis, sans-serif;
    user-select: none;
    overflow-x: hidden;
}
#manu{
    opacity: 0;
    transition: all .3s ease 0s;
    visibility: hidden;   
}
.manu>div>div:nth-child(3){
    width: 502px;
    img{
      width: 78px;
      height: 79px;
      border-radius: 24px;
      margin-right: 18px;
    }
      div:not(:first-child){
      div{
          width: 285px;
      }
      font-size: 18px;
      line-height: 1.333em;
      margin-bottom: 13px;
      height: 78px;
      }   
}
.manu{
    height: 577px;
    width: 1222px;
    padding: 120px 0px;
    border-bottom: 1px solid $gray;
    div{
        div{
            font-size: 20px;
            line-height: 1.1em;
            font-weight:700;
            margin-bottom: 40px;          
             ul{
             margin-bottom: 0!important;
             margin-right: 40px!important;
             margin-right: 0!important;
             padding-left: 0!important;
             list-style-type: none!important;                    
             margin-top: unset!important;
             li{
             font-size: 18px!important;
             font-weight: 500!important;
             margin-bottom: 18px!important;
             padding-left: 0!important;
             line-height: 1.111em!important;          
             padding: 0!important;
             a{
              color: $brown;
              text-decoration: none;
              margin-left: 0!important;      
              &:hover{
              color: $red!important;
              }
             }
             }
             li:nth-child(7)>a{
              border-bottom: 3px solid $red;
              color: $red!important;
              padding-bottom: 6px;
              font-weight: 700;
              transition: .3s;
              &:hover{
                color: $black!important;
                border-bottom: 3px solid $black;
              };
             }
           }
          }
    }
}
/* titles */
/* .manu>div>div>div:nth-child(1){
    background: red;
} */
.manu>div>
    div:nth-child(n)>div:nth-child(2){
    width: 223.5px;
}
.manu>div>
    div:nth-child(1)>div:nth-child(2){
    width: 223.5px;
}
.manu>div>
    div:nth-child(2)>div:nth-child(2){
    width: 214px;
}

#pages{
    position: absolute;
    width: 580px;
    height: 459px;
    background: white;
    border: 1px solid $gray;
    box-shadow: 0 2px 12px 0 rgba(16, 16, 16, .08);
    border-radius: 24px;  
    padding: 60px 40px!important;
    >div{
    >div:nth-child(1){
        width: 223.5px;
        >div:nth-child(2)>ul>li{
            width: 93px;

        }        
    }   
    >div:nth-child(2){
            >div:nth-child(2){
                /* width: 190px; */
                ul>li{
                    width: 214px; 
                }
            }   
        }
        }
}